# Unreal Engine file types.
*.uasset binary
*.umap binary

# Raw Content file types.
*.3ds binary
*.bmp binary
*.exr binary
*.fbx binary
*.jpeg binary
*.jpg binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.obj binary
*.ogg binary
*.png binary
*.psd binary
*.tga binary
*.wav binary
*.xcf binary